{% load static %}
{% load cart_tag %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Title  -->
    <title>{% block title_block %}{% endblock %}</title>

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'css/core-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>
  <!-- ##### Main Content Wrapper Start ##### -->
  <div class="main-content-wrapper d-flex clearfix">

      <!-- Mobile Nav (max width 767px)-->
      <div class="mobile-nav">
          <!-- Navbar Brand -->
          <div class="amado-navbar-brand">
              <a href="{% url 'App_Shop:home' %}"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
          </div>
          <!-- Navbar Toggler -->
          <div class="amado-navbar-toggler">
              <span></span><span></span><span></span>
          </div>
      </div>

      <!-- Header Area Start -->
      <header class="header-area clearfix">
          <!-- Close Icon -->
          <div class="nav-close">
              <i class="fa fa-close" aria-hidden="true"></i>
          </div>
          <!-- Logo -->
          <div class="logo">
              <a href="{% url 'App_Shop:home' %}"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
          </div>
          <!-- Amado Nav -->
          <nav class="amado-nav">
              <ul>
                  <li class="active"><a href="{% url 'App_Shop:home' %}">Home</a></li>
                  {% if request.user.is_authenticated %}
                  <li><a href="{% url 'App_Payment:orders' %}">Orders</a></li>
                  
                  <li><a href="{% url 'App_Order:cart' %}">Cart</a></li>
                  <li><a href="{% url 'App_Login:profile' %}">Profile</a></li>
                  <li><a href="{% url 'App_Login:logout' %}">Log out</a></li>
                  {% else %}
                  <li><a href="{% url 'App_Login:login' %}">Log in</a></li>
                  {% endif %}

              </ul>
          </nav>
          <!-- Button Group -->
          <div class="amado-btn-group mt-30 mb-100">
              <a href="#" class="btn amado-btn mb-15">%Discount%</a>
              <a href="#" class="btn amado-btn active">New this week</a>
          </div>
          <!-- Cart Menu -->
          <div class="cart-fav-search mb-100">
            {% if request.user.is_authenticated %}
              <a href="{% url 'App_Order:cart' %}" class="cart-nav"><img src="{% static 'img/core-img/cart.png' %}" alt=""> Cart <span>({{ request.user | cart_total }})</span></a>
            {% endif %}
              <a href="#" class="fav-nav"><img src="{% static 'img/core-img/favorites.png' %}" alt=""> Favourite</a>
              <a href="#" class="search-nav"><img src="{% static 'img/core-img/search.png' %}" alt=""> Search</a>
          </div>
          <!-- Social Button -->
          <div class="social-info d-flex justify-content-between">
              <a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="https://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </div>
      </header>
      
      {% block body_block %} {% endblock %}
    </div>
  <!-- ##### Newsletter Area Start ##### -->
  <section class="newsletter-area section-padding-100-0">
    <div class="container">
        <div class="row align-items-center">
            <!-- Newsletter Text -->
            <div class="col-12 col-lg-6 col-xl-7">
                <div class="newsletter-text mb-100">
                    <h2>Subscribe for a <span>25% Discount</span></h2>
                    <p>Nulla ac convallis lorem, eget euismod nisl. Donec in libero sit amet mi vulputate consectetur. Donec auctor interdum purus, ac finibus massa bibendum nec.</p>
                </div>
            </div>
            <!-- Newsletter Form -->
            <div class="col-12 col-lg-6 col-xl-5">
                <div class="newsletter-form mb-100">
                    <form action="#" method="">
                        {% csrf_token %}
                        <input type="email" name="email" class="nl-email" placeholder="Your E-mail">
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Newsletter Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<footer class="footer_area clearfix">
    <div class="container">
        <div class="row align-items-center">
            <!-- Single Widget Area -->
            <div class="col-12 col-lg-4">
                <div class="single_widget_area">
                    <!-- Logo -->
                    <div class="footer-logo mr-50">
                        <a href="{% url 'App_Shop:home' %}"><img src="{% static 'img/core-img/logo2.png' %}" alt=""></a>
                    </div>
                    <!-- Copywrite Text -->
                    <p class="copywrite">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
                </div>
            </div>
            <!-- Single Widget Area -->
            <div class="col-12 col-lg-8">
                <div class="single_widget_area">
                    <!-- Footer Menu -->
                    <div class="footer_menu">
                        <nav class="navbar navbar-expand-lg justify-content-end">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerNavContent" aria-controls="footerNavContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                            <div class="collapse navbar-collapse" id="footerNavContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="{% url 'App_Shop:home' %}">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'App_Payment:orders' %}">Orders</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'App_Order:cart' %}">Cart</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'App_Payment:checkout' %}">Checkout</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area End ##### -->

<!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
<script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Plugins js -->
<script src="{% static 'js/plugins.js' %}"></script>
<!-- Active js -->
<script src="{% static 'js/active.js' %}"></script>

</body>

</html>