{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} Profile {% endblock %}
{% block body_block %}
<div style="width: 800px;">
    <div class="messages mt-2">
        {% if messages %}
          {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{message.tags}}{% endif %}" role="alert">
              {{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
          {% endfor %}
        {% endif %}
      </div>
<form method="POST">
{{form|crispy}}
{% csrf_token %}
<button type="submit" class="btn btn-warning btn-sm">Save</button>
</form>
<br>
<br>
</div>
{% endblock %}
