{% extends 'base.html' %}
{% block title_block %}Home{% endblock %}
{% block body_block %}
      <!-- Product Catagories Area Start -->

    <div class="products-catagories-area clearfix">
        <div class="messages mt-2">
            {% if messages %}
              {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{message.tags}}{% endif %}" role="alert">
                  {{message}}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        <div class="amado-pro-catagory clearfix">
            <!-- Single Catagory -->
            {% for product in object_list %}
            <div class="single-products-catagory clearfix">
                <a href="{% url 'App_Shop:product_detail' pk=product.pk %}">
                    <img src="/media/{{product.mainimage}}" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>{{product.price|floatformat:2}}</p>
                        <h4>{{product.name}}</h4>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}